#container {
    width: 100%;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    width: 45%;
    padding: 10px;
    border-radius: 15px;
}

.left {
    border: 1px solid red;
}

.right {
    border: 1px dashed red;
}

h3 {
    font-weight: 500;
}

ol,
ul {
    font-weight: 300;
    padding: 10px;
    margin: 0;
    list-style-position: inside;
}

ul {
    list-style-type: upper-roman;
}

.bottom {
    width: 100%;
    margin-top: 20px;
    float: right;
    margin-bottom: 20px;
    text-align: right;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #555;
}

a:hover {
    color: #8B0000;
    text-decoration: underline;
}   
