#container {
    width: 100%;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 45%;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}

h3 {
    font-weight: 500;
}

ol, ul {
    font-weight: 300;
    padding: 10px;
    list-style-position: inside;
}

ul {
    border: 1px dashed red;
    border-radius: 15px;
    list-style-type: upper-roman;
    border: none;
}

ol {
    border: none;
}

.bottom {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
    text-align: right;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
